body {
    margin: 0;
    padding: 0;
}


header {
    background-color:#ffcccc;
    margin:0 auto;
    width:1000px;
}

#main{
    background-color:#ccffcc;
    margin:0 auto;
    width:70%;

}

#menu{
    background-color:#ccccff;
    margin:0 auto;
    width:30%;
}

#wrapper {
    width: 1000px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
footer{
    display:block;
    background-color:#ffccff;
    margin:0 auto;
    width:1000px;
}